imports/http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema/http%3A%2F%2Fopentosca.org%2Fnodetypes%2Fproperties/properties/properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://opentosca.org/nodetypes/properties" xmlns="http://www.w3.org/2001/XMLSchema"><element name="properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="Port" type="xsd:string"/><element name="ContainerPort" type="xsd:string"/><element name="ContainerID" type="xsd:string"/><element name="ContainerIP" type="xsd:string"/><element name="ImageID" type="xsd:string"/><element name="ContainerMountPath" type="xsd:string"/><element name="HostMountFiles" type="xsd:string"/></sequence></complexType></element></schema>