imports/http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema/http%3A%2F%2Fopentosca.org%2Fnodetypes%2Fproperties/DockerEngine_Properties/DockerEngine_Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://opentosca.org/nodetypes/properties" xmlns="http://www.w3.org/2001/XMLSchema"><element name="DockerEngine_Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="DockerEngineURL" type="xsd:string"/><element name="DockerEngineCertificate" type="xsd:string"/></sequence></complexType></element></schema>