imports/http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema/http%3A%2F%2Fopentosca.org%2Fnodetypes/VirtualMachineProperties/VirtualMachineProperties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://opentosca.org/nodetypes" xmlns="http://www.w3.org/2001/XMLSchema"><element name="VirtualMachineProperties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="VMIP" type="xsd:string"/><element name="VMInstanceID" type="xsd:string"/><element name="VMType" type="xsd:string"/><element name="VMUserName" type="xsd:string"/><element name="VMUserPassword" type="xsd:string"/><element name="VMPrivateKey" type="xsd:string"/><element name="VMPublicKey" type="xsd:string"/><element name="VMKeyPairName" type="xsd:string"/></sequence></complexType></element></schema>