imports/http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema/http%3A%2F%2Fopentosca.org%2Fnodetypes%2Fpropertiesdefinition%2Fwinery/properties/properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://opentosca.org/nodetypes/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="ContainerPort" type="xsd:string"/><element name="Port" type="xsd:string"/><element name="ContainerID" type="xsd:string"/><element name="ContainerIP" type="xsd:string"/></sequence></complexType></element></schema>
